
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
*.prefs
*.xml
*.properties
*.MF
*.class
*.properties
src/main/resources/application.properties
*.lst
target/Timesheet-1.0.jar
target/Timesheet-1.0.jar.original
